.navbar.navbar-default
  .container
    .navbar-header
      a(class="navbar-brand" href="/") Out House

    ul(class="nav navbar-nav")
      li(class="active")
        a(href="/profile") Profile
      li
        a(href="/logout") Logout
    p(class="navbar-text navbar-right") Signed in as #{user.username}

.container

  .user-info
    h2 My Profile
      h4 Username: #{user.username}
      h4 Email: #{user.email}
      h4 Gender: #{user.gender}
      h4 Age: #{user.age}

  .check-in
    h2 Bathrooms I've been to
    ul
      each checkin in checkins
        li= checkin.bathroom
