.navbar.navbar-default
  .container
    .navbar-header
      a(class="navbar-brand" href="/") Out House

    ul(class="nav navbar-nav")
      li(class="active")
        a(href="/profile") Profile
      li
        a(href="/logout") Logout
    p(class="navbar-text navbar-right") Signed in as #{user.username}

.container
  .col-md-6.col-md-offset-3
    .user-info
      h2 My Profile
      .row
        .col-md-3
          h4 Username
        .col-md-3
          h5= user.username
      .row
        .col-md-3
          h4 Email
        .col-md-3
          h5= user.email
      .row
        .col-md-3
          h4 Gender
        .col-md-3
          h5= user.gender
      .row
        .col-md-3
          h4 Age
        .col-md-3
          h5= user.age

      .check-in
        h2 Bathrooms I've been to
        ul
          each checkin in checkins
            li
              h4= checkin.bathroom
