.navbar.navbar-default
  .container-fluid
    .navbar-header
      a(class="navbar-brand" href="/") Out House

    if (!user)
      ul(class="nav navbar-nav")
        li
          a(href="/login") Login
        li
          a(href="/register") Register

    if (user)
      ul(class="nav navbar-nav")
        li
          a(href="/profile") Profile
        li
          a(href="/logout") Logout
      p(class="navbar-text navbar-right") Signed in as #{user.username}

.container
    h1
        a(href='/')= title

    .row
        .col-sm-3
            label Origin
        .col-sm-3
            label Destination
        .col-sm-3
            label Radius
        .col-sm-3
            label Transportation Method

    .row
        .col-sm-3
            .search-param
                #address= address
        .col-sm-3
            .search-param
                #destination N/A
        .col-sm-3
            .search-param
                #radius= radius
        .col-sm-3
            .search-param
                #method= method
    .row
        .map
            label Bathrooms
            #map-canvas

    .row
        .col-md-6
            .map
                label Directions
                #map-directions
        .col-md-6
            .directions-panel
                #directions-panel

    if (user)
      .row
        #check-in
          h2
            #bathroom-name
          form(action='/checkin', method='post', class='form-checkin')
              input(type='hidden', name='bathroom', id='form-bathroom-name', value='')
              input.btn.btn-info.btn-sm(type='submit', value='Check-In', class='btn-check-in')

script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
script(src="/js/googlemaps.js")
